{% extends "base.html" %}
{% block content %}
<section class="authbox">
  <h1>{{'Đăng ký' if mode=='register' else 'Đăng nhập'}}</h1>
  <form method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input name="username" placeholder="Tên đăng nhập" required>
    <input type="password" name="password" placeholder="Mật khẩu" required>
    <button>{{'Tạo tài khoản' if mode=='register' else 'Đăng nhập'}}</button>
  </form>
  {% if mode=='login' %}<p>Chưa có tài khoản? <a href="{{url_for('register')}}">Đăng ký</a></p>{% else %}<p>Đã có tài khoản? <a href="{{url_for('login')}}">Đăng nhập</a></p>{% endif %}
</section>
{% endblock %}
